{% extends 'user/menu.html' %}
{% block content %}

<div style="margin-top: 150px;margin-bottom: 100px;">
    <div class="container">
        {% if data %}
        <table class="table table-light table-striped">
            <thead class="thead-dark">
                <th>Sl.No</th>
                <th>Course</th>
                <th>Faculty</th>
                <th>Date</th>
                <th>Cancel</th>
            </thead>
            <tbody>
                {% for d in data %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{d[2]}}</td>
                    <td>{{d[3]}}</td>
                    <td>{{d[1]}}</td>
                    <td>
                        <button class="btn btn-sm btn-outline-danger" onclick="location.href='/user/applies/delete/{{d[0]}}/'">cancel</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h3 class="text-center text-danger">No Courses Applied</h3>
        {% endif %}
    </div>
</div>
{% endblock %}