{% extends 'faculty/menu.html' %}
{% block content %}

<div style="margin-top: 150px;margin-bottom: 100px;">
<div class="container">
    {% with msg = get_flashed_messages() %}
        {% if msg %}
            <div class="alert-danger text-center">{{msg[0]}}</div>
        {% endif %}
    {% endwith %}
    <div id="main_div">
        {% if subjects %}
        <table class="table table-light table-striped">
            <thead class="thead-dark">
                <th>Sl.No</th>
                <th>Subject Name</th>
                <th>Questions</th>
            </thead>
            <tbody>
                {% for s in subjects %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{s[1]}}</td>
                    <td>
                        <button class="btn btn-sm btn-outline-primary"
                            onclick="location.href='/faculty/viewQuestions/{{s[0]}}/'">Questions</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h3 class="text-center text-danger">No Subjects To Show</h3>
        {% endif %}
    </div>
</div>

<div class="container mt-3 p-3 mb-8 shadow bg-light rounded w-50" id="add_div">
    <h2 class="text-center text-primary">ADD SUBJECT</h2>
    <form action="" method="post">
        <div class="row form-group mt-3">
            <div class="col-md-12">
                <label for="name">Subject Name</label>
                <input type="text" id="name" name="name" placeholder="Subject Name" required class="form-control">
            </div>
        </div>
        <div class="row form-group mt-3">
            <div class="col-md-12" style="text-align: right;">
                <button class="btn btn-outline-secondary" type="button"
                    onclick="showHide()">Cancel</button>
                <button class="btn btn-outline-success" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>
</div>

{% endblock %}
{% block scripts %}
<script src="{{url_for('static',filename='assets/js/showHide.js')}}"></script>
{% endblock  %}